<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <p>Neste projeto foram utilizados:</p>
    <ul>
        <li><strong>Framework:</strong>AspNet Core Framework versão 2.1</li>
        <li><strong>Linguagens de Programação e marcação:</strong>C#, JQuery, JS, Html, Css</li>
        <li><strong>Banco de Dados:</strong>Oracle MySql</li>
    </ul>
</div>

<address>
    <p>Para mais projetos, acesse meu perfil no  <a href="@ViewData["Github"]">GitHub</a></p>
</address>
